@{
    ViewBag.Title = "Список задач";
}

<head>
</head>

<body>
    <script>

        function chbox1() {
            var chbox = $(chbox);
            if (chbox.checked) {
                console.log('Выбран');
            }
            else {
                console.log('Не выбран');
            }
        }
    </script>

    <div class="container">
        <h2>Список Задач</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Задачи</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Создать таблицу</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" onchange="chbox1()"></td>
                </tr>
                <tr>
                    <td>Создать столбец</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" onchange="chbox1()"></td>
                </tr>
                <tr>
                    <td>Ещё столбец</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" onchange="chbox1()"></td>
                </tr>
                <tr>
                    <td>Ещё</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" onchange="chbox1()"></td>
                </tr>
                <tr>
                    <td>И ещё</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" onchange="chbox1()"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
