@{
    ViewBag.Title = "Список задач";
}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <script>
        var mass = new Array("Первое", "Второе", "Третье", "Четвертое", "Пятое", "Шестое", "Седьмое", "Восьмое", "Девятое", "Десятое");

        for (var i = 0; i < mass.length; i++)
            console.log(mass[i]);

        //var myArray = new Array("Задача 1", "Задача 2", "Задача 3", "Задача 4", "Задача 5", "Задача 6", "Задача 7", "Задача 8", "Задача 9", "Задача 10");
        //console.log(myArray);

        $(document).ready(function () {
            $('.chkbx').on('change', function () {
                if ($(this).is(':checked'))
                    console.log('выбран');
                else
                    console.log('не выбран');
            });
        });
    </script>


    <div class="container">
        <h2>Список Задач</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Задачи</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Создать таблицу</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" class="chkbx"></td>
                </tr>
                <tr>
                    <td>Создать столбец</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" class="chkbx"></td>
                </tr>
                <tr>
                    <td>Ещё столбец</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" class="chkbx"></td>
                </tr>
                <tr>
                    <td>Ещё</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" class="chkbx"></td>
                </tr>
                <tr>
                    <td>И ещё</td>
                    <td>Выполнено</td>
                    <td><input type="checkbox" class="chkbx"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
