@model List<ToDoList.Models.ToDo>

<div id="progressBarToDo">
    <div class="progress">
        <div class="progress-bar" role="progressbar"></div>
    </div>
</div>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>

            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    }
</table>

<script src="~/Scripts/AddCheckBoxListener.js"></script>
